.chip {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f0f0f0;
	padding: 2px 3px 2px 5px;
	margin: 3px;
}

.chip .close-icon {
	cursor: pointer;
	margin-left: 4px;
}