#employee-details {
	padding: 0px 32px 20px 32px;
	width: 900px;
}

#employee-details .divider {
	margin: 32px 0 20px 0;
}

#employee-details .divider hr {
	border-top: 1px solid #e0e0e0;
}

.dialog-header {
	display: flex;
	justify-content: space-between;
}

.dialog-header .header-left {
	display: flex;
	padding: 20px 12px 20px 32px;
	align-items: center;
}

.dialog-header .header-right {
	padding: 12px;
	display: flex;
}

.dialog-header .close-button {
	background: url("../../../assets/icon/icon.svg") no-repeat;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-position: -144px -144px;
}

.dialog-header .helper-button {
	background: url("../../../assets/icon/icon.svg") no-repeat;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-position: -89px -144px;
	margin-right: 10px;
}

.dialog-header .title {
	font-size: 24px;
	color: #111;
	font-weight: 700;
}

.dialog-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.e-box {
	border-radius: 2px;
	background-color: #fff;
	position: relative;
}

.dialog-footer div {
	display: flex;
}

.dialog-footer .btn-first {
	margin-right: 10px;
}

.gender-form {
	padding-left: 10px;
}

.gender-form span {
	font-size: 12px;
	margin-bottom: 4px;
	font-weight: 700;
}

.gender-form .radio-group {
	height: 32px;
	display: flex;
	align-items: center;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.4;
}

.loading {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
}

.other-information .tabs {
	display: flex;
	align-items: flex-end;
	margin-left: 1px;
}

.other-information .tabs .tab {
	padding: 4px 8px;
	cursor: pointer;
	border: 1px solid #c9ccd2;
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	margin-right: 3px;
	height: 26px;
}

.other-information .tabs .action {
	background: #cce4f9;
	height: 32px;
}

.other-information .tabs .tab:hover {
	color: #2ca01c;
}

.other-information .details {
	min-height: 216px;
	max-height: 216px;
	overflow: auto;
	border: 1px solid #c9ccd2;
	margin: 0 1px 1px;
	z-index: 1;
	margin-top: -1px;
	position: relative;
}

.other-information .details .wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	padding: 11px 8px;
}