body {
	margin: 0;
	font-family: "Notosans" !important;
	font-size: 13px;
	background: #f4f5f8;
	color: #111;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-family: "Notosans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Notosans";
}

/* scroll */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #b8bcc3;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

@font-face {
	font-family: 'Notosans';
	src: url("./assets/font/notosans-regular.woff2");
	font-weight: normal;
}

@font-face {
	font-family: 'Notosans';
	src: url("./assets/font/notosans-italic.woff2");
	font-style: italic;
}

@font-face {
	font-family: 'Notosans';
	src: url("./assets/font/notosans-bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: 'Notosans';
	src: url("./assets/font/notosans-semibold.woff2");
	font-weight: 600;
}

/* animation */

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(calc(100% + 20px));
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
		transform: translateX(calc(100% + 20px));
	}
}

/* Safari */

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon {
	background: url("./assets/icon/icon.svg") no-repeat;
}

.icon-size-24 {
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
}

.icon-size-16 {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
}

.icon-size-18 {
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
}

.icon-size-12 {
	width: 12px;
	height: 12px;
	min-width: 12px;
	min-height: 12px;
}

.no-border {
	border: none !important;
}

.mi-process-customer {
	background-position: -872px -200px;
}

.mi-process-provider {
	background-position: -928px -200px;
}

.mi-process-employee {
	background-position: -984px -200px;
}

.mi-calculate {
	background-position: -1376px -256px;
}

.mi-attach {
	background-position: -539px -203px;
}

.mi-arrow-right--black {
	background-position: -320px -360px;
}

.mi-funnel {
	background-position: -1814px -202px;
}

.mi-category {
	background-position: -568px -30px;
}

.mi-setting__nav {
	background-position: -675px -30px;
}

.mi-help__nav {
	background-position: -731px -30px;
}

.mi-arrow-up--gray {
	background-position: -944px -360px;
}

.mi-chevron-up--primary {
	background-position: -128px -360px;
}

.mi-close--small {
	background-position: -80px -312px;
}

.mi-plus--success {
	background-position: -32px -312px;
}

.mi-excel__nav {
	background-position: -704px -200px;
}

.mi-setting__list {
	background-position: -88px -200px;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.ml-10 {
	margin-left: 10px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.ml-12 {
	margin-left: 12px !important;
}

.mr-12 {
	margin-right: 12px !important;
}

.mt-12 {
	margin-top: 12px !important;
}

.mb-12 {
	margin-bottom: 12px !important;
}

.pl-12 {
	padding-left: 12px !important;
}

.pr-12 {
	padding-right: 12px !important;
}

.pt-12 {
	padding-top: 12px !important;
}

.pb-12 {
	padding-bottom: 12px !important;
}

.tooltip {
	z-index: 200;
}

.tooltip .tooltip-inner {
	background: black;
	color: white;
	border-radius: 4px;
	padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	margin: 5px;
	border-color: black;
	z-index: 1;
}

.tooltip[x-placement^="top"] {
	margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
	border-width: 5px 5px 0 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
	margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
	border-width: 0 5px 5px 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	top: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
	margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
	border-width: 5px 5px 5px 0;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	left: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0;
}

.tooltip[x-placement^="left"] {
	margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
	border-width: 5px 0 5px 5px;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	right: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0;
}

.tooltip[aria-hidden='true'] {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity, transform 0.25s
}

.fade-enter, .fade-leave-to {
	opacity: 0;
	transform: translateY(5px);
}

.slide-enter-active {
	transition: all .3s ease;
}

.slide-enter, .slide-leave-to {
	transform: translateY(5px);
	opacity: 0;
}